#logo{
    width: 100%;
    margin:auto;
    padding:auto;
    padding-bottom: 20px;
}

#container{
    width: 360px;
    background: white;
    margin:180px auto;
    padding: 30px 20px;
    border-radius: 6px;
}